body {
  font-family: "Nunito", sans-serif;
  color: white;
  background-color: black;
  font-weight: 300;
}

.nav-link {
  color: white !important;
}

#details {
  object-fit: contain;
  min-height: 500px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

@media only screen and (min-width: 320px) {
  #container {
    height: 736px;
  }

  header {
    height: 100px;
  }

  main {
    min-height: 300px;
  }

  footer {
    height: 100px;
  }

  main > div:nth-child(1) {
    height: 501px;
  }

  main > div:nth-child(2) {
    height: 400px;
    top: 600px;
  }

  h1 {
    font-size: 7em;
    font-weight: 800;
    text-align: center;
  }

  h4 {
    font-size: 2.8em;
    font-weight: 300;
    text-align: center;
  }

  #shop {
    height: 60px;
  }

  #social-links {
    top: 1100px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 992px) {
  
}

@media only screen and (min-width: 1024px) {
  
}
