body {
  font-family: "Nunito", sans-serif;
  color: white;
  background-color: black;
  font-weight: 300;
}

.nav-link {
  color: white !important;
}

#details {
  object-fit: contain;
  min-height: 500px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

@media only screen and (max-width: 575px) {
  #content {
    min-height: 600px;
  }

  #header {
    height: 190px;
  }

  h1 {
    font-size: 38px !important;
    white-space: nowrap;
    text-align: center;
    font-weight: 800;
  }

  h4 {
    font-size: 16px;
    text-align: center;
  }

  #header {
    top: 250px;
    left: 0;
  }

  #social-links {
    top: 450px;
    left: 0;
  }

  #shop {
    margin-left: 120px;
  }

  footer > div > p {
      font-size: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #details {
    background-image: url("../4771648.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 680px;
  }

  #social-links {
    top: 450px;
    right: 200px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 80px;
  }

  h4 {
    font-size: 25px;
  }

  #header {
    top: 110px;
  }

  #social-links ul {
    width: 400px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 80px;
  }

  h4 {
    font-size: 25px;
  }

  #header {
    top: 110px;
  }

  #social-links ul {
    width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 80px;
  }

  h4 {
    font-size: 25px;
  }

  #header {
    top: 110px;
  }

  #social-links ul {
    width: 400px;
  }
}
